@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

form {
  text-align: center;
}
.footer-center {
    text-align: center;
    width: 100%;
}